*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(65, 27, 9);   
} 

/* Estilos del header */
.header{
    width:100%;
    display:flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    background-color: rgb(141, 52, 5);
    z-index:1;
}

/* Texto del logo */
.text-logo {
    color:#fff;
    font-size:20px;
}

/* Contenedor logo*/
.container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:40px;
}

/* Imagen logo*/
.img-logo{
    width:30px;
    margin-right: 10px;
}

/* Contenedor del menu*/
.nav-menu{
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Elementos del menu*/
.link {
    text-decoration: none;
    color:#fff;
    font-size:20px;
    margin:10px;
}

.link:hover{
    transition:0.3s;
    text-decoration:underline;
}

.section2{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(141, 52, 5);
    padding:10px;
    color:#fff;
}

.section2-part1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.section2-part1-img{
    margin-right: 5px;
}



/*Sección uno*/
.section1 {
    height:100vh;
    background-image:url(slider4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}


    
.layer-in{
    background-color: rgba(0, 0, 0, 0.514);
}


.text-container{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.text {
    color:#fff;
    margin:5px;
    text-align: center;
}


.ofertas{ 
    margin:30px;
    color:#fff;
    font-size:25px;
    font-weight: 300;
}

.productos-container {
    display:flex;
    flex-wrap: wrap;
    margin-top:25px;
    justify-content: center;
    align-items: center;
}

.bloque{
    width:200px;
    margin:25px;
    background-color: rgb(141, 52, 5);
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.452);
    cursor:pointer;
}

.bloque:hover{
    transition:0.4s;
    transform:scale(1.05);
}

.bloque:active{
    opacity:0.3;
}
.protucto-img{
    width:200px;
}

.info-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin:7px;
}

.precio{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.img-cafe{
    margin-left:6px;
}

.text-precio{
    color:#fff;
    margin-right: 6px;
}

.estrella-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.estrella{
    width:15px;
    margin:3px;
}


.nav-toggle {
    background:none;
    width:50px;
    padding:0 20px;
    align-items: center;
    justify-content: center;
    display:none;
    border-style: none;
}

/* --Menu version movil-- */
.hamburguesa  {
    width:30px;
    cursor:pointer;
}

.container-cafe{
    display:none;
}

@media (max-width:800px) {

    .header {
        height: 60px;
        position:fixed;
    }
   
    .nav-toggle {
        display:block;
    }

    .nav-menu {
        background: linear-gradient(to right, hsla(21, 41%, 37%, 0.9), hsla(23, 43%, 8%, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display:flex;
        flex-direction: column;
        margin-right: 20px;
        position:fixed;
        justify-content: center;
        justify-content:flex-start;
        left:40%;
        top:60px;
        width:60%;
        padding-top:0px;
        height: 100vh;
    
        /* --

        height: 100vh;
        overflow-y:auto;
        left:100%;
        transition:left 0.5s;
        
        - */
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

       /*  clip-path:circle(0.3% at 100% 0);*/
        transition: 0.6s;
    }

    .nav-menu-circulo{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        /*clip-path: circle(138.4% at 98% 2%);*/
    }

/* --
    .nav-menu-visible {
        left:0;
    }
 - */

    .link{
        margin:20px;
    }


    .container-cafe{
        display:block;
        margin-top:15%;
    }
}



.slider {
    width:800px; /* --Poner ancho de las imagenes-- */
    overflow:hidden;
    padding-top:40px;
    margin:auto;
}

@media (max-width:800px) {
    .slider {
        width:100%;/* --Poner en % para que se adapte-- */
        overflow:hidden;
        padding-top:40px;
        margin:auto;
    }   
}

.slider ul {
    padding:0;
    display:flex;
    width:100%;
    height:100%;
    animation: cambio 25s infinite;
    animation-direction: alternate;
}

.slider li {
    width:100%;
    height: 503px;
    list-style: none;
}


@keyframes cambio {
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    50%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}

.instalaciones{
    text-align: center;
    color:#fff;
    font-size:24px;
    margin:10px;
    margin-top:40px;
}

.contianer-searchbox{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.img-buscador{
    margin-left: 3px;
    width:38px;
}

#search-box{
    width:200px;
    height: 30px;
    text-align: center;
    border-radius:5px;
    font-size:15px;
    border-style:solid;
    border-color:#fff;
    border-width:1px;
    background-color:rgb(141, 52, 5);
    color:#fff;
}


/* --Buscador inicial-- */


.img-buscador-inicial{
    width:100%;
    cursor:pointer;
}

.img-buscador-inicial:hover{
    transition: 0.2s;
    transform: scale(1.04);
}

.img-buscador-inicial:active{
    transform: scale(0.8);
}
.btn {
    background:none;
    border:none;
    width:40px;
    margin:auto;
}

.container-botones{
    display:flex;
}


.search-box1{
    position:fixed;
    margin-top:60px;
    width:100%;
    height: 40px;
    border-style:none;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    transition:0.5s;
    top:-100%;
    



    
}

.search-box1-visible{
    top:0;
    
}


/* --Seccion blog-- */

.blog-title{
    margin:15px;
}

.beneficios-cafe{
    color:#fff;
    margin:20px;
    margin-top:60px;
}

.beneficios-title{
    margin-top:30px;
}

.texto-blog{
    text-align: justify;
    margin-top:5px;
}

.beneficios-list{
    margin:8px;
    list-style:none;
    text-align:justify;
}

.beneficios{
    margin:5px;
}

.img-blog{
    width:300px;
    margin-top:10px;
    margin-right:20px;
    float:left;
    border-radius:6px;
    border-color:#fff;
    border-style:solid;
    border-width:0.8px;
}

.img-blog-derecha{
    width:300px;
    margin-top:10px;
    margin-left:20px;
    float:right;
    border-radius:6px;
    border-color:#fff;
    border-style:solid;
    border-width:0.8px;
}

@media (max-width:500px) {
    .img-blog{
        width:200px;
    }
    
}